@font-face {
    font-family: 'Pixelify Sans', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap);
} 

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --indigo: #094582ff;
    --denim: #365facff;
    --glaucous: #6987C1;
    --gold: #FFD321;
    --saffron: #e4b702ff;
    --black: #000000ff;
    --white: #ffffffff;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: url(../assets/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 0;
    padding: 20px;
}

header img {
    width: 200px;
    height: auto;
    filter: drop-shadow(0 5px 5px #094582ff);
}

input[type='radio'] {
    display: none;
}

input[type='submit'] {
    font-family: 'Pixelify Sans', cursive;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 4em;
    align-self: center;
    padding: 10px 20px;
}

.question {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 0.5em 0 5em;
}

.question label {
    font-size: 1.2em;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.textBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-image: url(../assets/textBox.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px 0;
    width: 240px;
    height: 130px;
    
}

.textBox p {
    font-family: 'Pixelify Sans', cursive;
    position: absolute;
    font-size: 1.5em;
    margin: 0.7em 5.8em 0 0;
}

#quizTitle {
    font-size: 18px;
    width: 4em;
    margin-top: 0;
    align-self: center;
}

#startSection {
    display: none;
    background-image: url(../assets/textBox.png);
    margin: 180px 30px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#start {
    font-family: 'Pixelify Sans', cursive;
    font-size: 40px;
    margin: 30px 0px;
    padding: 10px;
    background: none;
	border: none;
	cursor: pointer;
}

#quizForm {
    display: flex;
    flex-flow: column wrap;
}

#quizForm h2 {
    font-size: 1.4em;
    padding: 0 10px;
    font-family: 'Pixelify Sans', cursive;
}

#quizForm h2 img {
    padding-top: 8px;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    header {
        padding: 1.5em;
    }

    header img {
        width: 18em;
    }

    input[type='submit'] {
        font-size: 2.5em;
        border: 4px solid black;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    .question {
        margin: 2em 0 6em;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }
    
    .question label {
        font-size: 2.4em;
    }
    
    .question label img{
        width: 3em;
    }
    
    .textBox {
        margin: 2em 1.6em;
        width: 16em;
        height: 8em;
        
    }
    
    .textBox p {
        font-size: 2em;
        margin: 0.4em 6em 0 0;
    }

    #quizTitle {
        font-size: 1.8em;
    }

    #start {
        font-size: 3.5em;
        padding: 0.5em;
        padding-left: 0.5em;
    }

    #quizForm h2 {
        font-size: 2.4em;
        padding: 0 1.2em;
        margin-top: 2em;
    }

    #quizForm h2 img {
        width: 4em;
    }

}

@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1600px) {
    
    header {
        padding: 2em;
    }

    header img {
        width: 12em;
    }

    input[type='submit'] {
        font-size: 1.8em;
        border: 4px solid black;
        border-radius: 15px;
        margin-bottom: 2em; 
        transition: ease 0.5s;
    }
    
    input[type='submit']:hover {
        box-shadow: 5px 5px 0 black;
    }

    .question {
        margin: 2em 1em 6em;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }
    
    .question label {
        font-size: 2.2em;
    }
    
    .question label img{
        width: 3em;
    }
    
    .textBox {
        margin: 2em 5em;
        width: 16em;
        height: 8em;
        transition: ease 0.5s;
    }
    
    .textBox:hover {
        filter: drop-shadow(10px 10px 0 #000); 
    }
    
    .textBox p {
        font-size: 2em;
        margin: 0.4em 6em 0 0;
    }

    #quizTitle {
        font-size: 1.2em;
    }

    #startSection {
        transition: ease 0.5s;
    }

    #startSection:hover {
        filter: drop-shadow(10px 10px 0 #000); 
    }

    #start {
        font-size: 3rem;
        padding: 1.3rem;
        padding-left: 1.2rem;
    }

    #quizForm h2 {
        font-size: 2.4em;
        padding: 0 1.2em;
        margin-top: 2em;
    }

    #quizForm h2 img {
        width: 3em;
    }

}